.Rproj.user
.Rhistory
.RData
.Ruserdata
data/*
dados/*
gastos_camara_lab1/dados/*
gastos_camara_p2/gastos_parte2.html
gastos_camara_p2/dados/*
gastos_camara_p2/dados/*
npm-debug.log
gastos_camara_p2/*.html
gastos_camara_lab1/*.pdf
gastos_camara_p2/*.pdf
gastos_camara_lab1/*.html
